<h1>Componente de coches</h1>

<form #formCoche="ngForm" (ngSubmit)="onSubmit()">
	<p>
	<label>Nombre:</label>
	<input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="coche.nombre" required>	
	</p><p>
	<label>Caballaje:</label>
	<input type="text" name="caballaje" #nombre="ngModel" [(ngModel)]="coche.caballaje" required>	
	</p><p>
	<label>Color:</label>
	<input type="text" name="color" #nombre="ngModel" [(ngModel)]="coche.color" required>	
	</p><p>
	<input type="submit" value="Guardar">
	</p>
</form>
