<div style="text-align:center">
  <h1>
    Bienvenido al {{ title }}!
  </h1>
  <nav>
  	<a [routerLink]="['/pagina-principal']" [routerLinkActive]="['activado']" >Home</a>
  	-
  	<a [routerLink]="['/fruta']" [routerLinkActive]="['activado']" >Fruta</a>
  	-
  	<a [routerLink]="['/empleado']" [routerLinkActive]="['activado']" >Empleado</a>
  	-
  	<a [routerLink]="['/contacto']" [routerLinkActive]="['activado']" >Contacto</a>
  </nav>
  <!--<empleado></empleado>-->
  <!-- Componente que carga las rutas de navegación -->
  <router-outlet></router-outlet>
</div>
  